body {
    margin: 0;
    padding: 0;
    background-image: url('trash.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  h1, h2 {
    text-align: center;
    color: #2E7D32;
  }
  
  .signupForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    max-width: 300px;
    width: 100%;
  }
  
 .signupForm input{
     padding: 10px;
     border: none;
     border-radius: 5px;
 }
.signupForm button{
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
 select {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    font-size: 16px;
  }
  
  
  button:hover {
    background: #1b5e20;
  }
  
